In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\91914\appdata\local\programs\python\python310\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\91914\appdata\local\programs\python\python310\lib\site-packages (from pymongo) (2.2.1)

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017")

In [4]:
#creating a database
newdb = client["Telephone_task"]

In [5]:
# creating a newcollection
newcol = newdb["Details"]

In [6]:
# Inserting  ONE documents into the collection
detail1 = {
            "Name":"Sangeetha",
            "Phone_no":9456801253,
            "Place" : "Chennai",
            "Designation":"Advocate"}
newcol.insert_one(detail1)

In [7]:
for i in newcol.find():
    print(i)

{'_id': ObjectId('63b6c65a3c8e7f61d0000912'), 'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}

In [10]:
# inserting many documents in to the collection using insert_many function
detail2 = [{
            "Name":"Arun kumar",
            "Phone_no":7413589632,
            "Place" : "Bangalore",
            "Designation":"Business Analyst"},
           {
           "Name":"Ashwin kannan",
            "Phone_no":9942901257,
            "Place" : "Chennai",
            "Designation":"Assistant Professor"},
           {
           "Name":"Riyanshika",
            "Phone_no":9456147345,
            "Place" : "Bangalore",
            "Designation":"Bank Manager"},
           {
             "Name":"Saranya",
            "Phone_no":8645274166,
            "Place" : "Mumbai",
            "Designation":"Sales Executive"},
           {
            "Name":"Rajah",
            "Phone_no":9487531699,
            "Place" : "Chennai",
            "Designation":"Business"}]
newcol.insert_many(detail2)

In [11]:
for i in newcol.find():
    print(i)

{'_id': ObjectId('63b6c65a3c8e7f61d0000912'), 'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}
{'_id': ObjectId('63b6c6d53c8e7f61d0000913'), 'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'_id': ObjectId('63b6c6d53c8e7f61d0000914'), 'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'_id': ObjectId('63b6c6d53c8e7f61d0000915'), 'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'_id': ObjectId('63b6c6d53c8e7f61d0000916'), 'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'_id': ObjectId('63b6c6d53c8e7f61d0000917'), 'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'_id': ObjectId('63b6c78e3c8e7f61d0000918'), 'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'_id': ObjectId('63b6c78e3c8e7f61d0000919'), 'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'_id': ObjectId('63b6c78e3c8e7f61d000091a'), 'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'_id': ObjectId('63b6c78e3c8e7f61d000091b'), 'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'_id': ObjectId('63b6c78e3c8e7f61d000091c'), 'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}

In [12]:
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}
{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}

In [13]:
for document in newcol.find({},{"_id":0,"Name":1}):
    print(document)

{'Name': 'Sangeetha'}
{'Name': 'Arun'}
{'Name': 'Ashwin'}
{'Name': 'Riya'}
{'Name': 'Saran'}
{'Name': 'Shewatha'}
{'Name': 'Arun kumar'}
{'Name': 'Ashwin kannan'}
{'Name': 'Riyanshika'}
{'Name': 'Saranya'}
{'Name': 'Rajah'}

In [14]:
# READ operation
for document in newcol.find({"Name":"Sangeetha","Place":"Chennai"},{"_id":0}):
    print(document)

{'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}

In [15]:
for document in newcol.find({"Name":{"$gt":"S"}},{"_id":0}):
    print(document)

{'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}

In [16]:
for document in newcol.find({"Name":{"$lt":"R"}},{"_id":0}):
    print(document)

{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}

In [17]:
for document in newcol.find({},{"_id":0}).sort("Name"):
   print(document)

{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Sangeetha', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}

In [23]:
# UPDATE Operation---- Updating one document at a time
old_data = {"Name":"Sangeetha"}
new_data = {"$set":{"Name":"Sangeetha Ravikumar"}}
newcol.update_one(old_data,new_data)
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Sangeetha Ravikumar', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate'}
{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}

In [26]:
old_data = {"Name":"Sangeetha Ravikumar"}
new_data = {"$set":{"Age":"35"}}
newcol.update_one(old_data,new_data)
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Sangeetha Ravikumar', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate', 'Age': '35'}
{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}

In [28]:
old_data = {"Name":"Ravi"}
new_data = {"$set":{"Age":42,"Qualification":"Post Doctrate"}}
newcol.update_one(old_data,new_data)
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Sangeetha Ravikumar', 'Phone_no': 9456801253, 'Place': 'Chennai', 'Designation': 'Advocate', 'Age': '35'}
{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'Chennai', 'Designation': 'Professor'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'Chennai', 'Designation': 'Business'}

In [30]:
#updating many documents at a time
old_data = {"Place":"Chennai"}
new_data = {"$set":{"Place":"North Chennai"}}
newcol.update_many(old_data,new_data)
for document in newcol.find({},{"_id":0,"Name":1,"Place":1}):
    print(document)

{'Name': 'Sangeetha Ravikumar', 'Place': 'North Chennai'}
{'Name': 'Arun', 'Place': 'Bangalore'}
{'Name': 'Ashwin', 'Place': 'North Chennai'}
{'Name': 'Riya', 'Place': 'Bangalore'}
{'Name': 'Saran', 'Place': 'Mumbai'}
{'Name': 'Shewatha', 'Place': 'North Chennai'}
{'Name': 'Arun kumar', 'Place': 'Bangalore'}
{'Name': 'Ashwin kannan', 'Place': 'North Chennai'}
{'Name': 'Riyanshika', 'Place': 'Bangalore'}
{'Name': 'Saranya', 'Place': 'Mumbai'}
{'Name': 'Rajah', 'Place': 'North Chennai'}

In [31]:
#Delete operation---- Deleting one document at a time
newcol.delete_one({"Name":"Ravi"})

In [32]:
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Sangeetha Ravikumar', 'Phone_no': 9456801253, 'Place': 'North Chennai', 'Designation': 'Advocate', 'Age': '35'}
{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Ashwin', 'Phone_no': 9942901253, 'Place': 'North Chennai', 'Designation': 'Professor'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Shewatha', 'Phone_no': 9146701253, 'Place': 'North Chennai', 'Designation': 'Bank Manager'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Ashwin kannan', 'Phone_no': 9942901257, 'Place': 'North Chennai', 'Designation': 'Assistant Professor'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Rajah', 'Phone_no': 9487531699, 'Place': 'North Chennai', 'Designation': 'Business'}

In [33]:
# deleting many documents at a time.
newcol.delete_many({"Place":"North Chennai"})

In [34]:
for document in newcol.find({},{"_id":0}):
    print(document)

{'Name': 'Arun', 'Phone_no': 7412589632, 'Place': 'Bangalore', 'Designation': 'Business'}
{'Name': 'Riya', 'Phone_no': 9456812345, 'Place': 'Bangalore', 'Designation': 'Bank Employee'}
{'Name': 'Saran', 'Phone_no': 8645274125, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}
{'Name': 'Arun kumar', 'Phone_no': 7413589632, 'Place': 'Bangalore', 'Designation': 'Business Analyst'}
{'Name': 'Riyanshika', 'Phone_no': 9456147345, 'Place': 'Bangalore', 'Designation': 'Bank Manager'}
{'Name': 'Saranya', 'Phone_no': 8645274166, 'Place': 'Mumbai', 'Designation': 'Sales Executive'}

In [ ]:
#Deleting the entire collection
newcol.delete_many({})
for document in newcol.find({},{"_id":0}):
    print(document)

In [ ]:
# DROP collection
# Details.drop()

In [ ]:
#DROP Database
#client.drop_database("Telephone_task")